/* add your CSS here */
#card {
    width: 300px;
    padding: 13px;
    font-size: 1em;
    line-height: 1.5;
    margin: 1% auto 2.5%;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 8px 8px 0 rgba(100, 100, 100, 0.1);
}

.title {
    margin: 0;
    line-height: 2;
    font-size: 2em;
}

.picture {
    margin-bottom: 10px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info {
    padding: 13px;
    border: 1px solid rgb(220, 220, 220);;
}

